extends layout.pug

block styles
    //- Custom styles
    link(rel="stylesheet", href="/css/about.css")

block content
    //- Page content
    //- Banner
    section.about#banner

        .container
            .row
                .col-12-narrow.col-6
                    header
                        h1 We're happy to answer any questions you have. Get in Touch with us.

                .col-12-narrow.col-6
                    section.wrapper.style4.special.container.medium(style="background :#01579b;")
                        // Content
                        .content
                            form
                                .row.gtr-50
                                    .col-6.col-12-mobile
                                        input(type="text", name="name", placeholder="Name", style='border: 0.2px solid white')
                                    .col-6.col-12-mobile
                                        input(type="text", name="email", placeholder="Email", style='border: 0.2px solid white')
                                    .col-12
                                        input(type="text", name="subject", placeholder="Subject", style='border: 0.2px solid white')
                                    .col-12
                                        textarea(name="message", placeholder="Message", rows="4", style='border: 0.2px solid white')
                                    .col-12
                                        ul.buttons
                                            li
                                                input.special(type="submit", value="Send Message")

    header.special.container
        span.icon.fa-fort-awesome
        
        h1(style="font-size: 3em;", data-aos="flip-up") What we do

    section.wrapper.style4.special.container.medium
        .container
            .row.gtr-50
                .col-6.col-12-narrow
                    p(style="text-align: left") We are Klathrate - Trade Finance Simplified.

                    p(style="text-align: left") Klathrate offers a unique trade financing product targeted towards SMEs in developing markets. Our comprehensive and automated risk assessment model allows rapidly growing SMEs quick and easy access to finance.

                    p(style="text-align: left") With a focus on technology, Klathrate aims to eliminate the hassle of paperwork and bureaucracy and create a seamless borrowing experience for its clients. 
            
        

                .col-6.col-12-narrow
                    .row
                        .col-6
                            section(data-aos="zoom-in-down")

                                span.icon.featured.fa-bar-chart(style='color:black')
                                header
                                    h3 Collateral free working capital
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-dollar(style='color:black')
                                header
                                    h3 Credit limit up to $2.5 Million
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-ticket(style='color:black')
                                header
                                    h3 Advance of up to 80% invoice value
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-shield(style='color:black')
                                header
                                    h3 Protection against buyer bankruptcy
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.

    header.special.container
        span.icon.fa-child

        h1(style="font-size: 3em;", data-aos="zoom-in") Who we are


    section.wrapper.style1.container.special

        .container.person-container
            .row.gtr-50
                .col-6.col-12-narrower(data-aos="zoom-in")
                    img.zoomer.person(src="/images/pic03.jpg", alt="person")
                    h3.name Prasen Lonikar
                    p.description Some text telling us about him.
                    ul.icons
                        li
                            a.icon.circle.fa-twitter(href="#")
                        li
                            a.icon.circle.fa-facebook(href="#")
                        li
                            a.icon.circle.fa-google-plus(href="#")
                        li
                            a.icon.circle.fa-github(href="#")
                        li
                            a.icon.circle.fa-dribbble(href="#")

                .col-6.col-12-narrower(data-aos="zoom-in")
                    img.zoomer.person(src="/images/pic03.jpg", alt="person")
                    h3.name Prasen Lonikar
                    p.description Some text telling us about him.
                    ul.icons
                        li
                            a.icon.circle.fa-twitter(href="#")
                        li
                            a.icon.circle.fa-facebook(href="#")
                        li
                            a.icon.circle.fa-google-plus(href="#")
                        li
                            a.icon.circle.fa-github(href="#")
                        li
                            a.icon.circle.fa-dribbble(href="#")



    header.special.container
        span.icon.fa-trophy

        h1(style="font-size: 3em;", data-aos="flip-up") Recognition


    section.wrapper.style3.container.special

        .container.award-container
            .row.gtr-50
                .col-4.col-12-narrower(data-aos="zoom-in-down")
                    img.zoomer.award(src="/images/trophy-1.png", alt="award")
                    //-h3.name Prasen Lonikar
                    //-p.description Some text telling us about him.
                    //-ul.icons
                        li
                            a.icon.circle.fa-twitter(href="#")
                        li
                            a.icon.circle.fa-facebook(href="#")
                        li
                            a.icon.circle.fa-google-plus(href="#")
                        li
                            a.icon.circle.fa-github(href="#")
                        li
                            a.icon.circle.fa-dribbble(href="#")
                .col-4.col-12-narrower(data-aos="zoom-in-down")
                    img.zoomer.award(src="/images/trophy-2.png", alt="award")

                .col-4.col-12-narrower(data-aos="zoom-in-down")
                    img.zoomer.award(src="/images/trophy-3.png", alt="award")


    header.special.container
        span.icon.fa-bullhorn

        h1(style="font-size: 3em;", data-aos="flip-up") In the news


    section.wrapper.style1.container.special

        .container.news-container
            .row.gtr-50
                .col-4.col-12-narrower(data-aos="zoom-in-down")
                    .news-item.zoomer
                        //-img.zoomer.news(src="/images/", alt="award")
                        h3.headline Prasen Lonikar
                        p.description Some text telling us about it. Some text telling us about it. Some text telling us about it. Some text telling us about it. Some text telling us about it.

                .col-4.col-12-narrower(data-aos="zoom-in-down")
                    .news-item.zoomer
                        //-img.zoomer.news(src="/images/", alt="award")
                        h3.headline Prasen Lonikar
                        p.description Some text telling us about it. Some text telling us about it. Some text telling us about it. Some text telling us about it. Some text telling us about it.

                .col-4.col-12-narrower(data-aos="zoom-in-down")
                    .news-item.zoomer
                        //-img.zoomer.news(src="/images/", alt="award")
                        h3.headline Prasen Lonikar
                        p.description Some text telling us about it. Some text telling us about it. Some text telling us about it. Some text telling us about it. Some text telling us about it.






block scripts
    //- custom scripts
    script(src="/js/lib/typeit.min.js")
    //-script(src="/js/init/typeit.homepage.js")
