extends layout.pug

block styles
    //- Custom styles

block content
    //- Page content
    //- Banner
    section#aboutbanner

        .container
            .row
                .col-12-narrow.col-6
                    header
                        h1 We're happy to answer any questions you have. Get in Touch with us.

                .col-12-narrow.col-6
                    section.wrapper.style4.special.container.medium(style="background : #1a237e ;")
                        // Content
                        .content
                            form
                                .row.gtr-50
                                    .col-6.col-12-mobile
                                        input(type="text", name="name", placeholder="Name")
                                    .col-6.col-12-mobile
                                        input(type="text", name="email", placeholder="Email")
                                    .col-12
                                        input(type="text", name="subject", placeholder="Subject")
                                    .col-12
                                        textarea(name="message", placeholder="Message", rows="4")
                                    .col-12
                                        ul.buttons
                                            li
                                                input.special(type="submit", value="Send Message")

                //-footer
                    ul.buttons.stacked
                        li
                            a.button.primary.scrolly(href="#main", style="background: #ff8f00; border-color: #ff8f00") Tell Me More


    header.special.container
        span.icon.fa-fire
        
        h1(style="font-size: 3em;", data-aos="flip-up") What we do

        .container
            .row.gtr-50
                .col-6.col-12-narrower
                    p(style="text-align: left") We are Klathrate - Trade Finance Simplified.

                    p(style="text-align: left") Klathrate offers a unique trade financing product targeted towards SMEs in developing markets. Our comprehensive and automated risk assessment model allows rapidly growing SMEs quick and easy access to finance.

                    p(style="text-align: left") With a focus on technology, Klathrate aims to eliminate the hassle of paperwork and bureaucracy and create a seamless borrowing experience for its clients. 
            
        

                .col-6.col-12-narrower
                    .row
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-bar-chart
                                h3 Collateral free working capital
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-dollar
                                header
                                    h3 Credit limit up to $2.5 Million
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-ticket
                                header
                                    h3 Advance of up to 80% invoice value
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                
                        .col-6
                            section(data-aos="zoom-in-down")
                                span.icon.featured.fa-shield
                                header
                                    h3 Protection against buyer bankruptcy
                                //-p
                                    | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.








block scripts
    //- custom scripts
    script(src="/js/lib/typeit.min.js")
    //-script(src="/js/init/typeit.homepage.js")
