extends layout.pug

block styles
    //- Custom styles
    //-link(rel="stylesheet", href="/css/lib/financers.css")

block content
    //- Page content
    //- Banner
    section#banner.business
        //-
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        .inner
            header
                img(src="/images/logo-small.png", alt="logo", style="max-height: 80px;", data-tilt)

                h2#banner-header(style="font-size:1.7em;min-height:200px;")

                h2(style="font-size:1.5em; font-weight:900;color:yellow") Simple | Fast | Credible
                //-p#banner-p



    //- Main
    article#main
        //- One
        section.wrapper.style1.container.special
            header.special.container
                span.icon.fa-dollar

                h1(style="font-size: 2em;color:#83d3c9")  Klatharate's   Advantage
                h1(style="font-size: 1em;") What Klatharate strives to offer
                
            .row
                .col-4.col-12-narrower(data-aos="zoom-in-right")
                    section
                        span.icon.featured.fa.fa-angle-double-right(style="color:black;")
                        header
                            h3(style="color:black;") Quick access to capital
                        p
                            | Raise capital within
                            br
                            | 24-72 hours *


                .col-4.col-12-narrower(data-aos="zoom-in")
                    section
                        span.icon.featured.fa.fa-ravelry(style="color:black;")
                        header
                            h3(style="color:black;") No Collateral
                        p
                            | Save your assets, use invoice
                            br
                            | as pseudo collateral

                .col-4.col-12-narrower(data-aos="zoom-in-left")
                    section
                        span.icon.featured.fa-check(style="color:black;")
                        header
                            h3(style="color:black;") Hassle-free
                        p
                            | Paperless & transparent digital
                            br
                            | experience

        //two
        section.wrapper.style1.special(style="background-image:url('/images/light.jpg')")
            header.special.container
                .col-7.col-12-narrower(data-aos="zoom-in-right")

                    h1(style="font-size: 2em;color:#83d3c9")  The Klatharat's Platform
                    h1(style="font-size: 1em;color:#83d3c9") How Klatharat's stands out
                    br
                    br
            .row
                .col-4.col-12-narrower
                    span.icon.featured.fa.fas.fa-envelope-open(style="color:orange;")
                    h1(style="font-size: 1em;color:#83d3c9") Zero reconciliation time
                    p
                        | Save time in operational hassles
                        br
                .col-4.col-12-narrower
                    span.icon.featured.fa.fas.fa-wrench(style="color:orange;")
                    h1(style="font-size: 1em;color:#83d3c9") Real time status updates
                    p
                        | Businesses upload invoices and can track their statuses
                        br
                        | in real-time
                        br
                .col-4.col-12-narrower
                    span.icon.featured.fa.fa-clock-o(style="color:orange;")
                    h1(style="font-size: 1em;color:#83d3c9") Instant listing & quick disbursal
                    p
                        | Upload invoices for instant listing & quick disbursal






        //- Three
        section.wrapper.style1.container.special
            header.special.container
                span.icon.fa.fa-bullseye(style="color:black")

                h1(style="font-size: 2em;color:#83d3c9")  Klatharate's   Uniqueness
                h1(style="font-size: 1em;") Why Klatharate's at this position
                br
                br
            .row
                .col-4.col-12-narrower(data-aos="zoom-in-right")
                    section
                        span.icon.featured.fa.fa-circle-o-notch(style="color:black;")
                        header
                            h3(style="color:black;") Get Fast!
                        p
                            | High Yield.
                            br
                            | Low Risk.
                            br
                            | Short Duration.
                .col-4.col-12-narrower(data-aos="zoom-in")
                    section
                        span.icon.featured.fa.fa-bandcamp(style="color:black;")
                        header
                            h3(style="color:black;") Get Big!
                        p
                            | Diversification.
                            br
                            | Global Contacts.
                            br
                            | Corporate receivables.
                .col-4.col-12-narrower(data-aos="zoom-in-left")
                    section
                        span.icon.featured.fa-eercast(style="color:black;")
                        header
                            h3(style="color:black;") Get Verified!
                        p
                            | Global Exposure.
                            br
                            | Invest in Verified


    //- CTA
    section#cta-business
        header
            h2
                | Ready to
                strong   INVEST
                | ?
            //p Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
        footer
            ul.buttons
                li
                    a.button.primary(href="#") Let's Invest
                li
                    a.button(href="#") Get More


block scripts
    //- custom scripts
    script(src="/js/lib/typeit.min.js")
    script(src="/js/init/typeit.business.js")
    script(src="/js/lib/tilt.jquery.min.js")
