extends layout.pug

block styles
    //- Custom styles
    //-link(rel="stylesheet", href="/css/lib/financers.css")

block content
    //- Page content
    //- Banner
    section#banner
        //-
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        .inner
            header
                img(src="/images/logo-small.png", alt="logo", style="max-height: 80px;", data-tilt)

                h2#banner-header(style="font-size:1.7em;min-height:200px;")

                h2(style="font-size:1.5em; font-weight:900;color:yellow") Simple | Fast | Credible
                //-p#banner-p



    //- Main
    article#main
        //- One
        section.wrapper.style1.container.special
            header.special.container
                span.icon.fa-dollar

                h1(style="font-size: 2em;")  Klatharate's   Advantage
                h1(style="font-size: 1em;") What Klatharate strives to offer
                br
                br
            .row
                .col-4.col-12-narrower(data-aos="zoom-in-right")
                    section
                        span.icon.featured.fa.fa-area-chart(style="color:black;")
                        header
                            h3(style="color:black;") Quick access to capital
                        p
                            | Raise capital within
                            br
                            | 24-72 hours *


                .col-4.col-12-narrower(data-aos="zoom-in")
                    section
                        span.icon.featured.fa.fa-ravelry(style="color:black;")
                        header
                            h3(style="color:black;") No Collateral
                        p
                            | Save your assets, use invoice
                            br
                            | as pseudo collateral

                .col-4.col-12-narrower(data-aos="zoom-in-left")
                    section
                        span.icon.featured.fa-check(style="color:black;")
                        header
                            h3(style="color:black;") Hassle-free
                        p
                            | Paperless & transparent digital
                            br
                            | experience


        //section.wrapper.style2.container.special-alt

            header
                h3(style="font-size: 2em;") Create Investment
            .row.gtr-50
                .col-7.col-12-narrower


                    // One
                    section.wrapper.style4.special.container.medium#form
                        // Content
                        .content
                        form#investform(style='color:black' action="#")
                            .row.gtr-50
                                .col-12#input
                                    input(type="text" name="name" placeholder="Full Name")
                                .col-12#input
                                    input(type="text" name="email" placeholder="Email")
                                .col-12#input
                                    input(type="text" name="subject" placeholder="Organization")
                                .col-12#input
                                    input(type="text" placeholder="Phone" name="phone")
                    footer
                        ul.buttons
                            li
                                a.button(href="javascript:document.getElementById('investform').submit();") Submit


                .col-5.col-12-narrower.imp-narrower
                    ul.featured-icons
                        li(data-aos="zoom-in")
                            span.icon.fa-clock-o
                                span.label Feature 1
                        li(data-aos="zoom-in")
                            span.icon.fa-volume-up
                                span.label Feature 2
                        li(data-aos="zoom-in")
                            span.icon.fa-laptop
                                span.label Feature 3
                        li(data-aos="zoom-in")
                            span.icon.fa-inbox
                                span.label Feature 4
                        li(data-aos="zoom-in")
                            span.icon.fa-lock
                                span.label Feature 5
                        li(data-aos="zoom-in")
                            span.icon.fa-cog
                                span.label Feature 6


        //- Two
        section.wrapper.style1.container.special
            header.special.container
                span.icon.fa-dollar(style="color:black")

                h1(style="font-size: 2em;color:#83d3c9")  Klatharate's   Uniqueness
                h1(style="font-size: 1em;") What Klatharate strives to offer
                br
                br
            .row
                .col-4.col-12-narrower(data-aos="zoom-in-right")
                    section
                        span.icon.featured.fa.fa-circle-o-notch(style="color:black;")
                        header
                            h3(style="color:black;") Get Fast!
                        p
                            | High Yield.
                            br
                            | Low Risk.
                            br
                            | Short Duration.
                .col-4.col-12-narrower(data-aos="zoom-in")
                    section
                        span.icon.featured.fa.fa-ravelry(style="color:black;")
                        header
                            h3(style="color:black;") Get Big!
                        p
                            | Diversification.
                            br
                            | Global Contacts.
                            br
                            | Corporate receivables.
                .col-4.col-12-narrower(data-aos="zoom-in-left")
                    section
                        span.icon.featured.fa-check(style="color:black;")
                        header
                            h3(style="color:black;") Get Verified!
                        p
                            | Global Exposure.
                            br
                            | Invest in Verified

    //- Three

    //- CTA
    section#cta
        header
            h2
                | Ready to
                strong   INVEST
                | ?
            //p Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
        footer
            ul.buttons
                li
                    a.button.primary(href="#") Let's Invest
                li
                    a.button(href="#") Get More


block scripts
    //- custom scripts
    script(src="/js/lib/typeit.min.js")
    script(src="/js/init/typeit.business.js")
    script(src="/js/lib/tilt.jquery.min.js")
