extends layout.pug

block styles
    //- Custom styles
    //-link(rel="stylesheet", href="/css/lib/financers.css")

block content
    //- Page content
    //- Banner
    section#banner.business
        //-
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        .inner
            header
                img(src="/images/logo-small.png", alt="logo", style="max-height: 80px;", data-tilt)

                h2#banner-header(style="font-size:1.7em;min-height:200px;")

                h2(style="font-size:1.5em; font-weight:900;color:yellow") Simple | Fast | Credible
                //-p#banner-p



    //- Main
    article#main
        //- One
        section.wrapper.style1.container.special
            header.special.container
                span.icon.fa-dollar

                h1(style="font-size: 2em;color:#83d3c9")  Klathrate's   Advantage
                h1(style="font-size: 1em;") What Klathrate strives to offer

            .row
                .col-4.col-12-narrower(data-aos="zoom-in-right")
                    section
                        span.icon.featured.fa.fa-angle-double-right(style="color:black;")
                        header
                            h3(style="color:black;") Quick access to capital
                        p
                            | Raise capital within
                            br
                            | 24-72 hours *


                .col-4.col-12-narrower(data-aos="zoom-in")
                    section
                        span.icon.featured.fa.fa-ravelry(style="color:black;")
                        header
                            h3(style="color:black;") No Collateral
                        p
                            | Save your assets, use invoice
                            br
                            | as pseudo collateral

                .col-4.col-12-narrower(data-aos="zoom-in-left")
                    section
                        span.icon.featured.fa-check(style="color:black;")
                        header
                            h3(style="color:black;") Hassle-free
                        p
                            | Paperless & transparent digital
                            br
                            | experience

        //two

        section.wrapper.style1.special(style="background-image:url('/images/alp.jpg');background-repeat: no-repeat; background-size: cover;")
            header.special.container
                .col-7.col-12-narrower(data-aos="zoom-in-right")

                    h1(style="font-size: 2.5em;color:orange")  The Klathrate's Platform
                    h1(style="font-size: 1em;color:#83d3c9") How Klathrate's stands out
                    
            .row
                .col-4.col-12-narrower
                    span.icon.featured.fa.fas.fa-envelope-open(style="color:#ffffff;")

                    h1(style="font-size: 1em;color:#83d3c9") Zero reconciliation time
                    p(style="color:#ffffff;")
                        | Save time in operational hassles
                        br


                .col-4.col-12-narrower
                    span.icon.featured.fa.fas.fa-wrench(style="color:#ffffff;")
                    h1(style="font-size: 1em;color:#83d3c9") Real time status updates
                    p(style="color:#ffffff;")
                        | Businesses upload invoices and can track their statuses
                        br
                        | in real-time
                        br
                .col-4.col-12-narrower
                    span.icon.featured.fa.fa-clock-o(style="color:#ffffff;")
                    h1(style="font-size: 1em;color:#83d3c9") Instant listing & quick disbursal
                    p(style="color:#ffffff;")
                        | Upload invoices for instant listing & quick disbursal
                        br

            .row
                .col-4.col-12-narrower
        //- three
        section.wrapper.style1.container.special
            header.special.container
                span.icon.fa.fa-bullseye(style="color:black")

                h1(style="font-size: 2em;color:#83d3c9")  How to get financed?
                h1(style="font-size: 1em;") Get quick access to capital
            .row
                .col-4.col-12-narrower
                    h1(style="font-size: 7em;color:#83d3c9") 01
                    h1(style="font-size:1.5em;") Sign Up Online
                    p
                        | Sign up and become a verified
                        br
                        | KredX member.
                .col-4.col-12-narrower
                    h1(style="font-size: 7em;color:#83d3c9") 02
                    h1(style="font-size:1.5em;") Upload Invoices
                    p
                        | Post verification, get your invoices
                        br
                        | listed.
                .col-4.col-12-narrower
                    h1(style="font-size: 7em;color:#83d3c9") 03
                    h1(style="font-size:1.5em;") Get Funded
                    p
                        | Instant listing and quick disbursal
                        br
                        | of funds.







        //- four
        //section.wrapper.style1.container.special
            header.special.container
                span.icon.fa.fa-bullseye(style="color:black")

                h1(style="font-size: 2em;color:#83d3c9")  Klathrate's   Uniqueness


            .row
                .col-4.col-12-narrower(data-aos="zoom-in-right")
                    section
                        span.icon.featured.fa.fa-circle-o-notch(style="color:black;")
                        header
                            h3(style="color:black;") Get Fast!
                        p
                            | Hedging
                            br
                            | Price Discovery
                            br
                            | Liquidity
                .col-4.col-12-narrower(data-aos="zoom-in")
                    section
                        span.icon.featured.fa.fa-bandcamp(style="color:black;")
                        header
                            h3(style="color:black;") Get Big!
                        p
                            | Diversification.
                            br
                            | Global Contacts.
                            br
                            | Corporate receivables.
                .col-4.col-12-narrower(data-aos="zoom-in-left")
                    section
                        span.icon.featured.fa-eercast(style="color:black;")
                        header
                            h3(style="color:black;") Get Verified!
                        p
                            | Global Exposure.
                            br
                            | Invest in Verified


    //- CTA
    section#cta-business
        header
            h2
                strong   GET FUNDED
            //p Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
        footer
            ul.buttons
                li
                    a.button.primary(href="#",style="background-color:#ffc107;border-color: #ffc107") Register
                li
                    a.button(href="#") Explore


block scripts
    //- custom scripts
    script(src="/js/lib/typeit.min.js")
    script(src="/js/init/typeit.business.js")
    script(src="/js/lib/tilt.jquery.min.js")
