extends layout.pug

block styles
    //- Custom styles
    link(rel="stylesheet", href="/css/lib/financers.css")

block content
    //- Page content
    //- Banner
    section#banner
        //-
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        .inner
            header
                h2#banner-header
                //- p#banner-p
            footer
                ul.buttons.stacked
                    li
                        a.button.fit.scrolly(href="#main") Tell Me More
    //- Main
    article#main
        header.special.container
            span.icon.fa-bar-chart-o
        //- One
        section.wrapper.style2.container.special-alt(style='margin-top:0px;')
            .row.gtr-50
                .col-8.col-12-narrower
                    article#main
                      header.special.container
                        span.icon.fa-envelope
                        h2 Get In Touch
                      // One
                      section.wrapper.style4.special.container.medium
                        // Content
                        .content
                          form
                            .row.gtr-50
                              .col-6.col-12-mobile
                                input(type="text" name="name" placeholder="Name")
                              .col-6.col-12-mobile
                                input(type="text" name="email" placeholder="Email")
                              .col-12
                                input(type="text" name="subject" placeholder="Subject")
                              .col-12
                                textarea(name="message" placeholder="Message" rows="7")
                              .col-12
                                ul.buttons
                                  li
                                    input.special(type="submit" value="Send Message")
                    footer
                        ul.buttons
                            li
                                a.button(href="#") Submit
                .col-4.col-12-narrower.imp-narrower
                    ul.featured-icons
                        li
                            span.icon.fa-clock-o
                                span.label Feature 1
                        li
                            span.icon.fa-volume-up
                                span.label Feature 2
                        li
                            span.icon.fa-laptop
                                span.label Feature 3
                        li
                            span.icon.fa-inbox
                                span.label Feature 4
                        li
                            span.icon.fa-lock
                                span.label Feature 5
                        li
                            span.icon.fa-cog
                                span.label Feature 6
                        li
                            span.icon.fa-money
                                span.label Feature 1
                        li
                            span.icon.fa-cart-plus
                                span.label Feature 2
                        li
                            span.icon.fa-laptop
                                span.label Feature 3
                        li
                            span.icon.fa-inbox
                                span.label Feature 4
                        li
                            span.icon.fa-lock
                                span.label Feature 5
                        li
                            span.icon.fa-cog
                                span.label Feature 6
                        li
                            span.icon.fa-clock-o
                                span.label Feature 1
                        li
                            span.icon.fa-volume-up
                                span.label Feature 2
        //- Two
        section.wrapper.style1.container.special
            .row
                .col-4.col-12-narrower
                    section
                        span.icon.featured.fa-check
                        header
                            h3 This is Something
                        p
                            | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                .col-4.col-12-narrower
                    section
                        span.icon.featured.fa-check
                        header
                            h3 Also Something
                        p
                            | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
                .col-4.col-12-narrower
                    section
                        span.icon.featured.fa-check
                        header
                            h3 Probably Something
                        p
                            | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
        //- Three
        section.wrapper.style3.container.special
            header.major
                h2
                    | Next look at this
                    strong cool stuff

            include mixins/featured-img.pug

            .row
                +featuredimg("#", "/images/pic01.jpg", "A Really Fast Train", "Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.")

                +featuredimg("#", "/images/pic01.jpg", "A Really Fast Train", "Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.")

            .row
                +featuredimg("#", "/images/pic01.jpg", "A Really Fast Train", "Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.")

                +featuredimg("#", "/images/pic01.jpg", "A Really Fast Train", "Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.")



            footer.major
                ul.buttons
                    li
                        a.button(href="#") See More
    //- CTA
    section#cta
        header
            h2
                | Ready to do
                strong something
                | ?
            p Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
        footer
            ul.buttons
                li
                    a.button.primary(href="#") Take My Money
                li
                    a.button(href="#") LOL Wut


block scripts
    //- custom scripts
    script(src="/js/lib/typeit.min.js")
    script(src="/js/init/typeit.homepage.js")
