footer(style="background: #83d3c9")
    br
    section.container
        .col-4.col-12-narrower.nav(style=' float: left;width: 30%;height: 320px;padding: 20px;')
            h1(style='color:white') KLATHARATE
            p
            |    Drip Capital Services India LLP
            br
            |    1001, Embassy Chambers,
            br
            |    Khar West, Mumbai 400052


        .col-4.col-12-narrower.article(style='float: left;width: 40%;height: 320px;padding:10px;')
            h1(style='text-align: center;color:white') CREATE A TOUCH
            p.i.fa.fa-phone(style='margin-left:30%;') .              +9191919191919191
            br
            p.i.fa.fa-phone(style='margin-left:30%;') .              +9191919191919191
            br
            p.i.fa.fa-phone(style='margin-left:30%;') .              +9191919191919191


        .col-4.col-12-narrower.article(style='float: left;width: 30%;height: 320px;')
            h1(style='color:white;text-align:center') SOCIAL
            ul.icons(style='margin-left:20px')
                li
                    a.icon.circle.fa-twitter(href="#")
                li
                    a.icon.circle.fa-facebook(href="#")
                li
                    a.icon.circle.fa-google-plus(href="#")
                li
                    a.icon.circle.fa-github(href="#")
                li
                    a.icon.circle.fa-dribbble(href="#")
                ul.copyright(style='margin-bottom:10px;')
                    li
                    | Design:
                    a(href="https://dayshmookh.github.io") R00T INC.


        // section.container
            .col-4(style='width:20%')
               h1(style='color:white') Klatharate
               p
               |    Drip Capital Services India LLP
               br
               |    1001, Embassy Chambers,
               br
               |    Khar West, Mumbai 400052

            .col-4(style='width:60%')
               h1(style='color:white') Klatharate
               p
               |    Drip Capital Services India LLP
               br
               |    1001, Embassy Chambers,
               br
               |    Khar West, Mumbai 400052

            .col-4(style='width:20%')
               h1(style='color:white') Klatharate
               p
               |    Drip Capital Services India LLP
               br
               |    1001, Embassy Chambers,
               br
               |    Khar West, Mumbai 400052
