footer#footer(style="background: #fff9c4")
    ul.icons
        li
            a.icon.circle.fa-twitter(href="#")
                span.label Twitter
        li
            a.icon.circle.fa-facebook(href="#")
                span.label Facebook
        li
            a.icon.circle.fa-google-plus(href="#")
                span.label Google+
        li
            a.icon.circle.fa-github(href="#")
                span.label Github
        li
            a.icon.circle.fa-dribbble(href="#")
                span.label Dribbble
    ul.copyright
        li © Untitled
        li
            | Design: 
            a(href="http://dayshmookh.github.io") R00T INC.
