footer(style="background: #83d3c9")
    section.container.wrapper
        .row.gtr-50
            .col-12
                h1.padded-top-comfortable(style='color:#e0f2f1') KLATHARATE

            .col-4.col-12-narrower.col-6-narrow
            
                p(style='color:#e0f2f1')
                    |    1001, Embassy Chambers,
                    br
                    |    Khar West, Mumbai 400052
                    br
                    a(href="#", style="color:#fffde7") &copy 2018 Klathrate. All rights reserved.


            .col-4.col-12-narrower.col-6-narrow
                 
                p(style='color:#e0f2f1')
                    i.fa.fa-phone
                    |    +9191919191
            
                    br
                    i.fa.fa-envelope-o
                    |    mail.google.com
                
                    br
                    i.fa.fa-phone
                    |    +9191919191
                

            .col-4.col-12-narrower.col-6-narrow.off-6-narrow

                p
                    a(href="#", style="color:#fffde7") FAQ
                    |  | 
                    a(href="#", style="color:#fffde7") Privacy Policy
                    |  | 
                    a(href="#", style="color:#fffde7") Terms of Service
                
                ul.icons
                    li
                        a.icon.circle.fa-twitter(href="#")
                    li
                        a.icon.circle.fa-facebook(href="#")
                    li
                        a.icon.circle.fa-google-plus(href="#")
                    li
                        a.icon.circle.fa-github(href="#")
                    li
                        a.icon.circle.fa-dribbble(href="#")

                
                 

            .col-12
                p(style="text-align:center")
                    a(href="#", style="color:#fffde7") Designed by R00t Inc.
                    //-a(href="http://html5up.net") 

                    