footer(style="background: #00acc1")
    section.container.wrapper
        .row.gtr-50
            .col-12
                h1.padded-top-comfortable(style='color:#e0f2f1') KLATHRATE

            .col-4.col-12-narrower.col-6-narrow

                p(style='color:#e0f2f1')
                    | Klathrate Trade Platform Pvt. Ltd
                    br
                    | 107, Bokhara,
                    br
                    | Nagpur 441111
                    br
                    a(href="#", style="color:#fffde7") &copy 2018 Klathrate. All rights reserved.


            .col-4.col-12-narrower.col-6-narrow

                p(style='color:#e0f2f1')
                    a(href="tel:+918698888112", style="color: #ffff55")
                        i.fa.fa-phone(style="margin-right: 15px;") 
                        | +91 869 8888 112

                    br
                    a(href="mailto:info@klathrate.com", style="color: #ffff55")    
                        i.fa.fa-envelope-o(style="margin-right: 15px;")
                        | info@klathrate.com




            .col-4.col-12-narrower.col-6-narrow

                p
                    a(href="#", style="color:#fffde7") FAQ
                    |  |
                    a(href="/images/privacypolicy.pdf", style="color:#fffde7") Privacy Policy
                    |  |
                    a(href="/images/klathratetermsofservice.pdf", style="color:#fffde7") Terms of Service

                ul.icons
                    li
                        a.icon.circle.fa-twitter(href="https://twitter.com/KlathrateSocial")
                    li
                        a.icon.circle.fa-facebook(href="https://www.facebook.com/Klathrate/")
                    li
                        a.icon.circle.fa-linkedin(href="https://www.linkedin.com/in/prasen-lonikar-12a861a0/")
                    //-li
                        a.icon.circle.fa-github(href="#")
                    //-li
                        a.icon.circle.fa-dribbble(href="#")




            .col-12.col-12-narrower.col-6-narrow
                p(style="text-align:center")
                    a(href="https://dayshmookh.github.io", style="color:#fffde7") Designed by R00t Inc.
                    //-a(href="http://html5up.net")

