footer(style="background: #83d3c9")
    br
    section
        nav(style=' float: left;width: 30%;height: 300px;padding: 20px;')
            h1(style='color:white') Klatharate
            p
            |    Drip Capital Services India LLP
            br
            |    1001, Embassy Chambers,
            br
            |    Khar West, Mumbai 400052
        article(style='float: left;width: 30%;background-color: #f1f1f1;height: 300px;')
            a.h1(href='#')(style='text-align: center;margin-left:40%;') CONTACT
            br
            br
            p
              | London is the capital city of England. It is the.
            p
              | Standing on the River Thames, London has been a
        article(style='float: left;width: 40%;background-color: #424242;height: 300px;')
            h1 London
            p
              | London is the capital city of England. It is the.
            p
              | Standing on the River Thames, London has been a


        // section.container
            .col-4(style='width:20%')
               h1(style='color:white') Klatharate
               p
               |    Drip Capital Services India LLP
               br
               |    1001, Embassy Chambers,
               br
               |    Khar West, Mumbai 400052

            .col-4(style='width:60%')
               h1(style='color:white') Klatharate
               p
               |    Drip Capital Services India LLP
               br
               |    1001, Embassy Chambers,
               br
               |    Khar West, Mumbai 400052

            .col-4(style='width:20%')
               h1(style='color:white') Klatharate
               p
               |    Drip Capital Services India LLP
               br
               |    1001, Embassy Chambers,
               br
               |    Khar West, Mumbai 400052
