extends layout.pug
   
block styles
    //- Page stylesheets goes here

block content
    //- Page content goes here

    .parallax-container.screen-height.valign-wrapper
            .container
                .row
                    div.padded-top-comfortable.screen-height
                        .row
                            .col.s12.m6.l6
                                div
                                    h1#demo
                                //-h1
                                    //| This pen is
                                  //  br
                                    span.txt-rotate(data-period="20" data-rotate='[ "nerdy.", "simple.", "pure JS.", "pretty.", "fun!" ]')
                                //-p
                                    | adghjasgdh
                                    br
                                    span.txt-rotate(data-period="20" data-rotate='[ "nerdy.", "simple.", "pure JS.", "pretty.", "fun!" ]')


                            .col.s12.m6.l6.center.no-overflow(data-tilt)
                               img(src='/images/logo.png', style='border: 2px solid lightgreen;')
            .parallax
                img(src='/images/conference.jpg', alt='Unsplashed background img 1')


    .section.yellow.darken-2
        // Icon Section
        .row
            .col.s12.m6.l6
                .icon-block
                    h2.center
                        img(src='/images/logo.png')
                        | How it Works!

                    h5.center Architecture
                    p.light.center Architecture starts when you carefully put two bricks together. There is begins.
            .col.s12.m6.l6
                .icon-block
                    h2.center.brown-text
                        img(src='https://png.icons8.com/ios/50/000000/menu.png')
                    h5.center Interior
                    p.light.center Interior is the natural projection of the soul
        .row
            .col.s12.center
                a.green.lighten-1.waves-effect.waves-light.btn-large(style='font-size:20px')(href='/') Demo wali Link

    script(src="/js/typewriter.js")
    script(src="/js/index.js")


