html
    head
        title Klathrate - #{title}
        include styles.pug
        
        block styles
        
    body
        header
            include navbar.pug

        main    
            block content
        
        include footer.pug
        include scripts.pug
        
        block scripts
