nav#nav
    ul
        li
            a(href="/") Home
        li
            a(href="/financers") Financers
        li
            a(href="/business") Business
        li
            a(href="/trade-gurantee") Trade Guarantee
        li
            a(href="/about") About
        li
            a.button.primary(href="#") Sign Up
