nav#nav
    ul
        li
            a.button.primary(href="phone:7385203397",style="background: #ff8f00; border-color: #ff8f00") +91 7385 2033 97
        li
            a(href="/") Home
        li
            a(href="/financers") Financiers
        li
            a(href="/business") Business
        //-li
            a(href="/trade-gurantee") Trade Guarantee
        li
            a(href="/about") About
        li
            a.button(href="http://demo.quanram.com/login") Login
        
