
nav
    .nav-wrapper
        .container
            a.yellow-text.text-darken-2.sidenav-trigger.hide-on-large-only(href="#", data-target="nav-mobile", onclick="sidenavinstance.open()")
                i.material-icons.button-collapse menu

            a.brand-logo(href="/")
                img(src="/images/logocopy.png")
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a.black-text.text-darken-2(href="/") Home
                li
                    a.black-text.text-darken-2(href="/financers") Financers
                li
                    a.black-text.text-darken-2(href="/business") Business
                li
                    a.black-text.text-darken-2(href="/about") About
                li
                    a.black-text.text-darken-2(href="/trade-gurantee") Trade Grantee

ul#nav-mobile.sidenav
    li
        a(href="/") Home
    li
        a(href="/gallery") Gallery
    li
        a(href="/shop") Shop
    li
        a(href="/about") About
    li
        a(href="/contact") Contact
