nav#nav
    ul
        li
            a.button.primary(href="tel:+910000000000",style="background: #ffc107; border-color: #ffc107") +91 0000 0000 00
        li
            a(href="/") Home
        li
            a(href="/SME") SME
        li
            a(href="/Institutions") Institutions
        //-li
            a(href="/trade-gurantee") Trade Guarantee
        li
            a(href="/about") About
        li
            a.button(href="http://demo.quanram.com/login") Login
        
