//- These are the scripts that are to be included in every page.

script(src="/js/lib/jquery.min.js")
script(src="/js/lib/materialize.min.js")
script(src="/js/lib/aos.js")
script(src="/js/lib/typewriter.js")
script(src="/js/lib/tilt.jquery.min.js")

//- Custom script

script(src="/js/script.js")
script(src="/js/typewriter.js")
script(src="/js/tilt.jquery.js")
