script(src="/js/lib/jquery.min.js")
script(src="/js/lib/jquery.dropotron.min.js")
script(src="/js/lib/jquery.scrolly.min.js")
script(src="/js/lib/jquery.scrollex.min.js")
script(src="/js/lib/browser.min.js")
script(src="/js/lib/breakpoints.min.js")
script(src="/js/lib/util.js")
script(src="/js/lib/twentyone.js")
script(src="/js/lib/aos.js")
script(src="/js/init/aos.js")

