//- These are the scripts that are to be included in every page.

script(src="/js/jquery.min.js")
script(src="/js/materialize.min.js")
script(src="/js/aos.js")
script(src="/js/script.js")
script(src="/js/typewriter.js")
script(src="/js/tilt.jquery.js")
