img.person {
    width: 200px;
    height: 200px;
    /* border-radius: 100px 50px 100px 50px; */    
    border-radius: 100%;
    transition: border-radius .25s ease;
}

img.person:hover {
    border-radius: 8px;
}

.person-container .name {
    margin-top: 0.75em;
}

.wrapper.style5 {
    background: #83d3c9;
}

img.award {
    max-width: 100%;
    max-height: 150px;
}

.news-item {
    border: 5px double #83d3c9;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 8px;
    padding: 16px;
    background: #fdfdfd;
    /* border-bottom: 3px double #343434;
    border-right: 3px double #343434; */

}

.headline {
    font-weight: 600;
}